.contatos{
    max-width: 1200px;
    width: 100%;
    display: grid;
    grid-template-areas: 
      "title title title"
      "contato social links";
      grid-template-rows: auto 1fr;
      grid-template-columns: 1fr 2fr 1fr;
      align-items: center;
}
.contato-container{
    grid-area: contato;
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.contato-title{
    font-size: 1.5rem;
}
.contato-icon{
    display: flex;
    gap: 24px;
}
.contato-icon i{
    font-size: 1.5rem;
}

.social-container{
    grid-area: social;
    display: flex;
    gap: 32px;
    font-size: 1.5rem;
    justify-content: center;
}
.social-item{
    width: 64px;
    height: 64px;
    background-color: var(--icon-color);
    display: grid;
    place-content: center;
    
}
.links-container{
    grid-area: links;
    display: flex;
    flex-direction: column;
    gap: 16px;
    text-align: right;
}
.link-title{
    font-size: 1.5rem;
}

/* TABLET */
@media (max-width: 960px){
    .contatos{
        max-width: 672px;
        width: 100%;
        height: auto;   
        display: grid;
        
        grid-template-areas: 
            "title title"
            "contato links"
            "social social";   
        grid-template-rows: 1fr 1.5fr 1fr;  
        grid-template-columns: 1fr 1fr;
    }
    .contato-title{
        grid-area: title;
    }
    .contato-container{
        grid-area: contato;
    }
    .links-container{
        grid-area: links;
        display: flex;
        
    }
    .social-container{
        grid-area: social;
    }
}
 
/* MOBILE */
@media (max-width:640px){
    .contatos{
        max-width: 592px;
        width: 100%;
        height: 1200px;
        display: flex;
        flex-direction: column;
        gap: 48px;
    }
    .contato-title{
        display: none;
    }
    .contato-icon{
        justify-content: center;
    }
    .links-container{
        align-items: center;
    }
    .social-container{
        display: flex;
        flex-direction: column;
        place-self: center;
    }
}